@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: monospace;
}
* {
  box-sizing: border-box;
}
h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
html.dark {
  @apply bg-slate-800 text-white;
}

.outside-container{
  @apply px-6;
}
img {
  @apply border-none;
}
/* nav styles */

.hamburger {
  @apply p-5 cursor-pointer;
}

.hamburger .line {
  @apply block w-10 h-1 mb-3 bg-primary-500;
}

.nav-links {
  @apply w-full top-20 hidden;
}
.dark .nav-links a{
  @apply text-white;
}
.nav-links a {
  @apply block text-center py-3 pr-0 text-lg font-bold uppercase;
}

.expanded {
  display: unset;
}
nav a.active{
  @apply text-primary-500;
}
.dark .nav-links a.active {
  @apply text-primary-500;
}
@media screen and (min-width: 636px) {
  .nav-links {
    @apply block static w-auto bg-none;
  }
  .hamburger{
    @apply hidden;
  }

  .nav-links a {
    @apply p-5;
  }

}