---
import Navigation from '../components/Navigation.astro';
import Head from '../components/Head.astro';
import Footer from '../components/Footer.astro';
const pageTitle = "My Astro Site";
---

<html lang="en">
	<head>
		<Head />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		<div class="outside-container w-full">
			<div class="container mx-auto text-center">
				<h1>{pageTitle}</h1>
			</div>
		</div>
		<Footer />
	</body>
</html>
