---
import Social from './Social.astro';
---

<footer class="outside-container bg-teal-800 py-8 fixed w-full bottom-0 left-0">
  <div class="container mx-auto text-center py-12 text-white">
    <p>Learn more about my projects on:</p>
    <Social platform="Twitter" username="astrodotbuild" />
    <Social platform="GitHub" username="withastro" />
    <Social platform="Youtube" username="astrodotbuild" />
  </div>
</footer>
