---
---

<div class="hamburger lg:hidden rounded-sm p-2 transform hover:scale-x-125 duration-500" data-drawer-trigger aria-controls="drawer-name" aria-expanded="false" id="menuToggle">
  <span class='line mb-3'></span>
  <span class='line mb-3'></span>
  <span class='line'></span>
</div>
